<h2>Template: <small> Dinámicos</small></h2>
<hr>

<form   (ngSubmit)="guardar()"
        autocomplete="off"
        #miFormulario="ngForm">

    <!-- NOMBRE -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>

        <div class="col-sm-9">
            <input  required
                    [ngModel]="persona.nombre"
                    type="text"
                    name="nombre"
                    class="form-control"
                    placeholder="Nombre de la persona">

            <span   *ngIf="miFormulario.controls.nombre?.errors && miFormulario.controls.nombre?.touched"
                    class="form-text text-danger">
                Este campo es obligatorio
            </span>
        </div>
    </div>

    <!-- AGREGAR FAVORITO -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>

        <div class="col-sm-9">
            <div class="input-group">
                <input  name="nuevoJuego"
                        class="form-control"
                        placeholder="Agregar favorito" 
                        [(ngModel)]="nuevoJuego"
                        (keyup.enter)="agregarJuego()">  
                
                <button class="btn btn-outline-primary"
                        type="button"
                        [disabled]="!nuevoJuego"
                        (click)="agregarJuego()">
                    Agregar
                </button>
            </div>
        </div>
    </div> 

    <!-- LISTA DE JUEGOS FAVORITOS -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>

        <div class="col-sm-9">
            <div    class="input-group mb-1"
                    *ngFor="let favorito of persona.favoritos; let i = index">
                
                <input  class="form-control"
                        [(ngModel)]="favorito.nombre"
                        name="favorito_{{ i }}"
                        required>
                
                    <button class="btn btn-outline-danger"
                            type="button"
                            (click)=eliminar(i)>
                    Eliminar
                </button>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    (click)="guardar()"
                    [disabled]="miFormulario.invalid">
                Guardar
            </button>
        </div>
    </div>


</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>