<h2>Reactivos: <small> Básicos</small></h2>
<hr>

<div class="row">
    <div class="col">
        
        <form   autocomplete="off"
                [formGroup]="miFormulario"
                (ngSubmit)="guardar()">

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Productos</label>
                <div class="col-sm-9">

                    <input  type="text"
                            class="form-control"
                            placeholer="Nombre del producto"
                            formControlName="nombre">
                           
                    
                    <span   *ngIf="campoEsValido('nombre')" 
                            class="form-text text-danger">
                        Debe de ser de 3 letras
                    </span>

                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input  type="number"
                            class="form-control"
                            placeholer="Precio del producto"
                            formControlName="precio">

                    <span   *ngIf="campoEsValido('precio')" 
                            class="form-text text-danger">
                        El precio debe ser mayor a cero
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input  type="number"
                            class="form-control"
                            placeholer="Existencias del producto"
                            formControlName="existencias">

                    <span   *ngIf="campoEsValido('existencias')" 
                            class="form-text text-danger">
                        Existencias debe ser mayor a cero
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
            
        </form>
    
    </div>
</div>


<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>
        
        <span>Invalid</span>
        <pre>{{ miFormulario.invalid }}</pre>
        
        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>
        
        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>
        
        <span>Valor</span>
        <pre>{{ miFormulario.value | json }}</pre>
    </div>
</div>